In [2]:
# import movie metadata into pandas Dataframes
import pandas as pd
import re
kaggle_metadata = pd.read_csv('Data/movies_metadata.csv', low_memory=False)
ratings = pd.read_csv('Data/ratings.csv')

In [3]:
# Examine our extracted data --------------------------------
# Instead of using head() and tail() methods, we can use the sample(n=<# of values to pull>) method to randomly pull a number of values from the dataframe
# Pull 10 values from the kaggle_metadata dataframe
kaggle_metadata.sample(n=10)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
1271,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,18762,tt0112537,en,Blue Juice,JC is the hero of the Cornish surfing communit...,...,1995-09-15,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The ride is wild!,Blue Juice,False,3.6,13.0
31259,False,"{'id': 458017, 'name': 'Tom and Jerry Collecti...",0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",http://familyentertainment.kidswb.com/product/...,72972,tt2027255,en,Tom and Jerry & The Wizard of Oz,"They're off to see the Wizard, the wonderful W...",...,2011-08-23,0.0,59.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Tom and Jerry & The Wizard of Oz,False,6.0,26.0
29792,False,NaN,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 28, '...",http://www.german-angst.com/,252596,tt3398436,de,German Angst,Horror anthology consisting of three episodes ...,...,2015-01-24,0.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Love. Sex. Death.,German Angst,False,5.9,11.0
29139,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,214216,tt0096872,en,Babycakes,Grace is an overweight mortuary cosmetician wh...,...,1989-02-14,0.0,100.0,[],Released,"Shy, fat girl vows to win over a hunky subway ...",Babycakes,False,4.0,1.0
13742,False,"{'id': 146534, 'name': 'Without a Paddle Colle...",6300000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,28677,tt1276107,en,Without a Paddle: Nature's Calling,Venturing into the woods causes nothing but tr...,...,2009-01-13,0.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Three guys. One chance. No plan.,Without a Paddle: Nature's Calling,False,5.1,18.0
3828,False,NaN,12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,10763,tt0205271,en,Dr. T and the Women,Dr. Sullivan Travis is a man at the top of his...,...,2000-09-13,0.0,121.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,He is overwhelmed by the woman in his life,Dr. T and the Women,False,4.6,70.0
23593,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,259943,tt3125472,zh,归来,Lu and Feng are a devoted couple forced to sep...,...,2014-05-16,0.0,111.0,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,NaN,Coming Home,False,6.9,49.0
6097,False,NaN,0,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,8996,tt0099776,en,Europa Europa,A Jewish boy separated from his family in the ...,...,1990-01-01,0.0,108.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,NaN,Europa Europa,False,7.3,48.0
36928,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,329216,tt0109820,en,The Foot Shooting Party,The lead singer of a band gets drafted for war...,...,1994-01-01,0.0,27.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Foot Shooting Party,False,6.0,1.0
9358,False,"{'id': 142717, 'name': 'The Cremaster Cycle', ...",0,"[{'id': 18, 'name': 'Drama'}]",NaN,23986,tt0321781,en,Cremaster 3,CREMASTER 3 (2002) is set in New York City and...,...,2002-05-15,0.0,182.0,[],Released,NaN,Cremaster 3,False,6.8,10.0

In [4]:
# Convert output of read_csv to DataFrame
kaggle_metadata = pd.DataFrame(kaggle_metadata)

In [5]:
# Cast the dataframe's columns to a list to inspect
kaggle_metadata.columns.tolist()

['adult',
 'belongs_to_collection',
 'budget',
 'genres',
 'homepage',
 'id',
 'imdb_id',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'poster_path',
 'production_companies',
 'production_countries',
 'release_date',
 'revenue',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'video',
 'vote_average',
 'vote_count']

In [6]:
# Planning our ETL pipeline
# 1. Inspect
# 2. Plan
# 3. Execute

# We want to slim down the number of columns in the above dataframe to a more manageable and RELEVANT number

In [7]:
kaggle_metadata.dtypes

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

In [8]:
# Convert discrepant data types:
# video: Boolean
# budget: numeric
# id: numeric
# release_date: datetime
# popularity: numeric
# adult: Boolean

False                                                                                                                             45454
True                                                                                                                                  9
 Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.        1
 - Written by Ørnås                                                                                                                   1
 Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.                        1
Name: adult, dtype: int64

In [9]:
# Tackle Adult column:

# Check data
kaggle_metadata['adult'].value_counts()

False                                                                                                                             45454
True                                                                                                                                  9
 Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.        1
 - Written by Ørnås                                                                                                                   1
 Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.                        1
Name: adult, dtype: int64

In [10]:
# Clean data
# The following uses Pandas boolean operator ~ (aka all values that are False for .isin(['True','False']), or values that aren't True or False)
kaggle_metadata[~kaggle_metadata['adult'].isin(['True','False'])]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
19730,- Written by Ørnås,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[{'name': 'Carousel Productions', 'id': 11176}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1997-08-20,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29503,Rune Balot goes to a casino connected to the ...,1.931659,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,"[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-09-29,0,68.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,...,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35587,Avalanche Sharks tells the story of a bikini ...,2.185485,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,"[{'name': 'Odyssey Media', 'id': 17161}, {'nam...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]",2014-01-01,0,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Since we don't want to include Adult movies in our HACKATHON dataset, we should keep rows where Adult is False, and drop all True rows
kaggle_metadata = kaggle_metadata[kaggle_metadata['adult'] == 'False'].drop('adult',axis='columns')

In [12]:
# Check values of the video column
kaggle_metadata['video'].value_counts()

False    45358
True        93
Name: video, dtype: int64

In [ ]:
# This data is clean!